[phases.setup]
nixPkgs = ["nodejs-18_x"]

[phases.install]
cmds = [
  "npm install",
  "cd frontend && npm install"
]

[phases.build]
cmds = ["cd frontend && npm run build"]

[start]
cmd = "NODE_OPTIONS='--max-old-space-size=512' npm start"

[variables]
NODE_OPTIONS = "--max-old-space-size=512"
